table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  margin: auto !important;
}

.mo-thead {
  padding: 7px;
}
@media screen and (max-width: 480px) {
  .mobile-text p {
    font-size: 27px !important;
    line-height: 32px !important;
  }
  .mo-thead {
    font-size: 27px !important;
    line-height: 32px !important;
  }
  .mobile-text ul li {
    font-size: 27px !important;
    line-height: 32px !important;
  }
}
table,
td {
  -o-table-baseline: 0pt !important;
  -o-table-baseline: 0pt !important;
  border-collapse: "collapse";
}
img {
  -ms-inerpolation-mode: bicubic;
}
.table {
  width: "600px";
  border: "0px";
  box-align: "center";
  padding-right: "0px";
  padding-top: "0px";
  background-color: "#fffff";
}
img {
  box-align: "center";
  width: "558px";
  height: "93px";
  border: "0px";
  display: "display:block";
}
.table {
  width: "560px";
  border: "0px";
  box-align: "center";
  padding-right: "0px";
  letter-spacing: "0px";
  border: 1px solid #595959;
}
.mani {
  width: "558";
  border: "0px";
  text-align: "center";
  letter-spacing: "0px";
  padding-top: "0px";
}

.mobile-text {
  width: 900px;
  height: 100px;
  padding: 0 30px 20px 30px;
  font: 14px Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0% 30px 20px 30px;
  line-height: 20px;
  text-align: justify;
}
.mobile-app {
  border: "0";
  border-spacing: "0";
  width: "450px";
  font: 14px Arial, Helvetica, sans-serif;
  color: #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
  border-right: solid 1px #bbbbbb;
}

.mobiletext {
  width: 750px;
  height: 350px;
  text-align: center;
  font: 14px Arial, Hevetica, sans-serif;
  color: black;
  border: 1px;
  padding: 0 30px 20px 30px;
  border-bottom: solid 1px #bbbbbb;
  border-right: solid 1px #bbbbbb;
  border-left: solid 1px #bbbbbb;
  border-top: solid 1px #bbbbbb;
}
.moblietext2 {
  text-align: justify;
  padding: 18px;
  font: 10px Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0% 30px 20px 30px;
  line-height: 20px;
}
