img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 350px;
}
/* Thick  */
hr {
  border-top: 6px solid rgb(0, 0, 0);
}
a {
  color: #fff;
  text-decoration: none;
}

.design1 {
  height: 37px;
  width: 135px;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border: none;
  background-size: 250% 150%;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #000,
    #000,
    #000,
    #000
  );
  box-shadow: 0 4px 15px 0 rgba(29, 31, 30, 0.75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button1 {
  width: 200px;
  height: 80px;
  border-radius: 12px;
  background-image: linear-gradient(#f876cd 0%, #f702c2 100%);
  box-shadow: px 20px 30px 6px #ff87ca;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 30px;
  color: white;
  box-shadow: 0 4px 15px 0 rgba(169, 129, 233, 0.75);
}
.button2 {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 80px;
  text-align: center;
  border: none;
  background-size: 250% 150%;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #075272,
    #3953c7,
    #07693a,
    #13f182
  );
  box-shadow: 0 4px 15px 0 rgba(40, 233, 226, 0.75);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button3 {
  width: 175px;
  height: 90px;
  border-radius: 0 100px;
  background-image: linear-gradient(#1df699 0%, #27a915 100%);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 30px;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.button4 {
  width: 180px;
  height: 80px;
  border-radius: 80px 50px;
  background-image: linear-gradient(#d9d7f1 0%, #87b5ff 70%);
  box-shadow: 0 20px 30px -6px #eaeaea;
  outline: dack;
  border: lemonchiffon;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 30px;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.button5 {
  width: 150px;
  height: 100px;
  border-radius: -45px;
  background-image: linear-gradient(#35d0ba, #8fcfd1, #93abd3);
  box-shadow: 0 20px 30px -6px #78c4d4;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 30px;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  transform: translateY(4px);
}
.button6 {
  box-shadow: 0px 10px 10px;
  width: 125px;
  height: 130px;
  border-radius: 50px;
  background-image: linear-gradient(#f9bf18 0%, #eb0606 100%);
  outline: lightskyblue;
  border: none;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  padding: 5px 30px;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: initial;
}
.button7 {
  width: 180px;
  height: 35px;
  border-radius: 0px;
  background-image: linear-gradient(#ff1b1b 0%, #9c27b0 100%);
  border-block: square;
  border: none;
  box-shadow: #c7ffd8;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 30px;
  color: #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.button8 {
  border-radius: 10px 140px;
  background-image: linear-gradient(#ffb905 0%, #62f792 100%);
  box-shadow: 0 20px 30px -6px #fff323 #ffffff;
  outline: ligthblack;
  border: none;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 30px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.button9 {
  width: 90px;
  height: 40px;
  border-radius: 0 90px;
  background-image: linear-gradient(#ff7171 0%, #f5c0c0 30%, #f5b3b3 50%);
  box-shadow: 0 20px 30px -6px #d8b384;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  padding: 5px 30px;
  color: #000000;
  font-family: serif;
}
.button10 {
  width: 120px;
  height: 90px;
  border-radius: 0 20px;
  background-image: linear-gradient(#f37121 0%, #c70039 100%);
  box-shadow: 0 20px 30px -6px #cfffdc;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 30px;
  color: #020202;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
